<a href="https://colab.research.google.com/github/CU25220010/Satyam-Chaubey/blob/main/stayam__string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

question 01 : Check if string is symmetrical palindrome

In [3]:
def is_palindrome(s: str) -> bool:
    s = s.lower().replace(" ", "")
    return s == s[::-1]
print(is_palindrome("abba"))
print(is_palindrome("abc"))

True
False

question 2: length of string

In [4]:
s = "hello"
length = len(s)
print("Length of string:", length)

Length of string: 5

question 3: reverse words in a string

In [5]:
def reverse_words(s: str) -> str:
    words = s.split()
    reversed_words = words[::-1]
    return " ".join(reversed_words)
text = "I love programming"
print(reverse_words(text))

programming love I

question 4: Remove Letters From a Stringe

In [6]:
import re

def remove_letters(s: str) -> str:
    return re.sub(r'[A-Za-z]', '', s)
text = "He110 W0rld!"
print(remove_letters(text))

110 0!

question 5: 5. Avoid Spaces in string length

In [7]:
def length_without_spaces(s: str) -> int:
    s_no_spaces = s.replace(" ", "")
    return len(s_no_spaces)
text = "Hello World"
print("Length without spaces:", length_without_spaces(text))

Length without spaces: 10

question 6: Print even-length words in string

In [8]:
def print_even_length_words(s: str):
    words = s.split()
    for word in words:
        if len(word) % 2 == 0:
            print(word)
text = "Python is an amazing language"
print_even_length_words(text)

Python
is
an
language

question 7: Uppercase Half String

In [9]:
def uppercase_half_string(s: str) -> str:
    mid = len(s) // 2
    first_half = s[:mid]
    second_half = s[mid:].upper()
    return first_half + second_half
text = "programming"
print(uppercase_half_string(text))

progrAMMING

que 8: Capitalize first and last character of each word

In [10]:
def capitalize_first_last(s: str) -> str:
    words = s.split()
    result = []
    for word in words:
        if len(word) == 1:
            result.append(word.upper())
        else:
            new_word = word[0].upper() + word[1:-1] + word[-1].upper()
            result.append(new_word)
    return " ".join(result)
text = "python is awesome"
print(capitalize_first_last(text))

PythoN IS AwesomE

que 9: Check if string has a letter and number

In [11]:
def has_letter_and_number(s: str) -> bool:
    has_letter = any(ch.isalpha() for ch in s)
    has_number = any(ch.isdigit() for ch in s)
    return has_letter and has_number
print(has_letter_and_number("abc123"))
print(has_letter_and_number("abcdef"))
print(has_letter_and_number("123456"))
print(has_letter_and_number("@#12a"))

True
False
False
True

qu 10: 10. Accept strings containing all vowels

In [12]:
def contains_all_vowels(s: str) -> bool:
    s = s.lower()
    vowels = set('aeiou')
    return vowels.issubset(set(s))
print(contains_all_vowels("education"))
print(contains_all_vowels("sequoia"))
print(contains_all_vowels("AEIOU"))

True
True
True

oue 11:Count number of matching characters in a pair of string

In [13]:
def count_matching_positions(s1: str, s2: str) -> int:
    count = 0
    for a, b in zip(s1, s2):
        if a == b:
            count += 1
    return count
print(count_matching_positions("python", "pathos"))

4

que 12:Count number of vowels using sets

In [14]:
def count_vowels(s: str) -> int:
    vowels = set('aeiouAEIOU')
    return sum(1 for ch in s if ch in vowels)
text = "Programming is fun"
print("Number of vowels:", count_vowels(text))

Number of vowels: 5

Que 13: Remove duplicates from a string

In [15]:
def remove_duplicates(s: str) -> str:
    result = ""
    for ch in s:
        if ch not in result:
            result += ch
    return result
text = "programming"
print(remove_duplicates(text))

progamin

Que 14: Least Frequent Character

In [16]:
from collections import Counter

def least_frequent_char(s: str) -> str:
    freq = Counter(s)
    min_count = min(freq.values())
    least_chars = [ch for ch, count in freq.items() if count == min_count]
    return least_chars
text = "successes"
print("Least frequent character(s):", least_frequent_char(text))

Least frequent character(s): ['u']

Que 15: 15. Maximum frequency character

In [17]:
from collections import Counter

def max_frequency_char(s: str) -> str:
    freq = Counter(s)
    max_count = max(freq.values())
    max_chars = [ch for ch, count in freq.items() if count == max_count]
    return max_chars
text = "successes"
print("Maximum frequency character(s):", max_frequency_char(text))

Maximum frequency character(s): ['s']

16: Odd Frequency Characters

In [18]:
from collections import Counter

def odd_frequency_chars(s: str):
    freq = Counter(s)
    odd_chars = [ch for ch, count in freq.items() if count % 2 != 0]
    return odd_chars
text = "successes"
print("Odd frequency characters:", odd_frequency_chars(text))

Odd frequency characters: ['u']

17: 17. Specific Characters Frequency

In [19]:
def specific_char_frequency(s: str, ch: str) -> int:
    return s.count(ch)
text = "programming"
print(f"Frequency of 'm': {specific_char_frequency(text, 'm')}")

Frequency of 'm': 2

18: Frequency of numbers

In [20]:
from collections import Counter

def number_frequency(s: str) -> dict:
    freq = Counter(ch for ch in s if ch.isdigit())
    return dict(freq)
text = "Phone: 9876543210, ID: 112233"
print("Number frequencies:", number_frequency(text))

Number frequencies: {'9': 1, '8': 1, '7': 1, '6': 1, '5': 1, '4': 1, '3': 3, '2': 3, '1': 3, '0': 1}

19:Check if a string contains any special character

In [21]:
def has_special_char(s: str) -> bool:
    return not s.isalnum()
print(has_special_char("Hello123"))   # False
print(has_special_char("Hello@123"))  # True

False
True

20: Generating random strings until a given string is generated

In [22]:
import random
import string

def generate_until_match(target: str):
    letters = string.ascii_lowercase
    count = 0

    while True:
        count += 1
        rand_str = ''.join(random.choice(letters) for _ in range(len(target)))
        if rand_str == target:
            print(f"Match found after {count} attempts → {rand_str}")
            break
generate_until_match("abc")

Match found after 7368 attempts → abc

21: Find words which are greater than length k

In [23]:
def words_greater_than_k(s: str, k: int):
    words = s.split()
    result = [word for word in words if len(word) > k]
    return result
text = "Python programming is fun and powerful"
k = 3
print(words_greater_than_k(text, k))

['Python', 'programming', 'powerful']

22: For removing ith character from a string

In [24]:
def remove_ith_char(s: str, i: int) -> str:
    if i < 0 or i >= len(s):
        return s  # invalid index, return original
    return s[:i] + s[i+1:]
text = "programming"
print(remove_ith_char(text, 3))  # removes character at index 3 (0-based)

proramming

23: Split and join

In [25]:
text = "Python is fun"
words = text.split()   # by default, splits on spaces
print(words)

['Python', 'is', 'fun']

24: Check if a given string is binary string or not

In [26]:
def is_binary_string(s: str) -> bool:
    return set(s).issubset({'0', '1'})
print(is_binary_string("101010"))   # True
print(is_binary_string("1201"))     # False

True
False

25: find all close matches of input string from a list

In [27]:
from difflib import get_close_matches

def find_close_matches(word, word_list, n=3, cutoff=0.6):
    return get_close_matches(word, word_list, n=n, cutoff=cutoff)
words = ["python", "java", "javascript", "perl", "php", "pythonic"]
print(find_close_matches("pytho", words))

['python', 'pythonic']

26: Find uncommon words from two Strings

In [28]:
def uncommon_words(str1, str2):
    words1 = set(str1.split())
    words2 = set(str2.split())
    return list(words1.symmetric_difference(words2))  # words unique to each string
s1 = "the quick brown fox"
s2 = "the quick white cat"
print(uncommon_words(s1, s2))

['brown', 'cat', 'white', 'fox']

27: Swap commas and dots in a String

In [29]:
def swap_commas_dots(s: str) -> str:
    s = s.replace(',', 'TEMP')  # step 1: replace commas
    s = s.replace('.', ',')     # step 2: replace dots
    s = s.replace('TEMP', '.')  # step 3: replace placeholder with dots
    return s
text = "10,000.25,30.50"
print(swap_commas_dots(text))

10.000,25.30,50

28: Permutation of a string using inbuilt function

In [30]:
from itertools import permutations

def string_permutations(s: str):
    perms = [''.join(p) for p in permutations(s)]
    return perms
text = "ABC"
print(string_permutations(text))

['ABC', 'ACB', 'BAC', 'BCA', 'CAB', 'CBA']

29: Check for URL in a String

In [31]:
import re

def contains_url(s: str) -> bool:
    pattern = re.compile(
        r'(https?://\S+|www\.\S+)', re.IGNORECASE
    )
    return bool(pattern.search(s))
print(contains_url("Visit https://openai.com for more info."))
print(contains_url("No link here!"))
print(contains_url("Check www.example.com/test"))

True
False
True

30: Execute a String of Code

In [32]:
code = """
for i in range(3):
    print("Hello", i)
"""

exec(code)

Hello 0
Hello 1
Hello 2

31: Print middle character of a String

In [33]:
def middle_char(s: str) -> str:
    length = len(s)
    mid = length // 2

    if length % 2 == 0:
        return s[mid - 1: mid + 1]
    else:
        return s[mid]
print(middle_char("python"))
print(middle_char("hello"))

th
l

32: Convert integer to string

In [34]:
num = 1234
s = str(num)
print(s)
print(type(s))

1234
<class 'str'>

33 : Convert String to Int

In [35]:
s = "1234"
num = int(s)
print(num)
print(type(num))

1234
<class 'int'>

34: Split string into list of Characters

In [36]:
s = "Python"
chars = list(s)
print(chars)

['P', 'y', 't', 'h', 'o', 'n']

35: Convert a List to String

In [37]:
words = ['Python', 'is', 'fun']
result = ' '.join(words)
print(result)

Python is fun

36: Convert String to a list

In [38]:
s = "Python is fun"
lst = s.split()
print(lst)

['Python', 'is', 'fun']

37: Remove Letters from a String

In [39]:
import re

def remove_letters(s: str) -> str:
    return re.sub(r'[A-Za-z]', '', s)
text = "Hello123@World"
print(remove_letters(text))

123@

38: Convert a list of Characters into String

In [40]:
chars = ['H', 'e', 'l', 'l', 'o']
result = ''.join(chars)
print(result)

Hello

39: Convert Object to String

In [41]:
obj = {'name': 'Alice', 'age': 25}
s = str(obj)
print(s)
print(type(s))

{'name': 'Alice', 'age': 25}
<class 'str'>

40: Sort a list of strings

In [42]:
words = ["banana", "apple", "cherry", "date"]

# Using sorted() → returns a new list
sorted_words = sorted(words)
print(sorted_words)

['apple', 'banana', 'cherry', 'date']

41: Convert tuple to string

In [43]:
t = ('Hello', 'World')
result = ' '.join(t)
print(result)

Hello World

42: Check if String is Empty or not

In [44]:
s = ""

if not s:
    print("String is empty")
else:
    print("String is not empty")

String is empty

43: Convert String to Set

In [45]:
s = "hello"
result = set(s)
print(result)

{'e', 'l', 'h', 'o'}

44: Convert Set to String

In [46]:
s = {'apple', 'banana', 'cherry'}
result = ' '.join(s)
print(result)

banana cherry apple

45: Generate possible valid IP addresses from given string

In [47]:
def restore_ip_addresses(s):
    def is_valid(segment):
        return len(segment) == 1 or (segment[0] != '0' and int(segment) <= 255)

    res = []
    n = len(s)
    for i in range(1, min(4, n - 2)):
        for j in range(i + 1, min(i + 4, n - 1)):
            for k in range(j + 1, min(j + 4, n)):
                p1, p2, p3, p4 = s[:i], s[i:j], s[j:k], s[k:]
                if all(map(is_valid, [p1, p2, p3, p4])):
                    res.append(f"{p1}.{p2}.{p3}.{p4}")
    return res
s = "25525511135"
print(restore_ip_addresses(s))

['255.255.11.135', '255.255.111.35']

46: Check and display vowels

In [48]:
def display_vowels(s):
    vowels = "aeiouAEIOU"
    for ch in s:
        if ch in vowels:
            print(ch, end=' ')
string = "Python Programming"
display_vowels(string)

o o a i

1: Repeat the Strings

In [49]:
text = "Hello "
result = text * 3
print(result)

Hello Hello Hello

2: String Function

In [52]:
s = "  Hello World!  "
s2 = "Python123"

3: Convert String to LowerCase

In [53]:
s = "Hello WORLD"
lower_s = s.lower()
print(lower_s)

hello world

4: Reverse String

In [54]:
s = "Python"
reversed_s = s[::-1]
print(reversed_s)

nohtyP

5: Check Palindrome

In [55]:
def is_palindrome(s):
    s = s.lower().replace(" ", "")
    return s == s[::-1]
print(is_palindrome("Radar"))
print(is_palindrome("Hello"))
print(is_palindrome("A man a plan a canal Panama"))

True
False
True

6: Find Pattern

In [56]:
import re

text = "My email is example@gmail.com"
pattern = r"\w+@\w+\.\w+"

match = re.search(pattern, text)
if match:
    print("Pattern found:", match.group())
else:
    print("Pattern not found")

Pattern found: example@gmail.com

7: Decimal number to binary number

In [57]:
decimal = 25
binary = bin(decimal)
print(binary)        # Output includes '0b' prefix
print(binary[2:])    # Remove '0b' prefix

0b11001
11001

8: Binary number to decimal number

In [58]:
binary = "11001"
decimal = int(binary, 2)   # 2 means base-2
print(decimal)

25

9: Reverse Words

In [59]:
s = "Python is fun"
reversed_words = ' '.join(s.split()[::-1])
print(reversed_words)

fun is Python

10:Palindrome String

In [60]:
def is_palindrome(s):
    s = s.lower().replace(" ", "")
    return s == s[::-1]
print(is_palindrome("radar"))
print(is_palindrome("Level"))
print(is_palindrome("Hello"))
print(is_palindrome("A man a plan a canal Panama"))

True
True
False
True

11: Slice The String

In [61]:
s = "Hello, World!"
print(s[0:5])    # Characters from index 0 to 4

Hello

12: Change Case

In [62]:
s = "Hello World"
print(s.upper())

HELLO WORLD

13: 13. Print Alphabets

In [63]:
import string
print("Lowercase:", string.ascii_lowercase)
print("Uppercase:", string.ascii_uppercase)

Lowercase: abcdefghijklmnopqrstuvwxyz
Uppercase: ABCDEFGHIJKLMNOPQRSTUVWXYZ

1: Convert numeric words to numbers

In [65]:
from word2number import w2n

print(w2n.word_to_num("twenty five"))
print(w2n.word_to_num("one hundred and two"))
print(w2n.word_to_num("seven thousand three hundred"))

ModuleNotFoundError: No module named 'word2number'

2: Word location in String

In [66]:
s = "Python is fun and Python is powerful"
word = "Python"

index = s.find(word)
print(index)

0

3: Consecutive characters frequency

In [67]:
def consecutive_frequency(s):
    if not s:
        return

    count = 1
    result = []

    for i in range(1, len(s)):
        if s[i] == s[i-1]:
            count += 1
        else:
            result.append((s[i-1], count))
            count = 1
    result.append((s[-1], count))
    return result
s = "aaabbcdddde"
freq = consecutive_frequency(s)
print(freq)

[('a', 3), ('b', 2), ('c', 1), ('d', 4), ('e', 1)]

4: Rotate a string

In [68]:
def rotate_right(s, n):
    n = n % len(s)
    return s[-n:] + s[:-n]
s = "Python"
rotated = rotate_right(s, 2)
print(rotated)

onPyth

5: Check if a string can become empty by recursive deletion

In [69]:
def can_become_empty(s, patterns):
    if s == "":
        return True

    for p in patterns:
        idx = s.find(p)
        while idx != -1:

            new_s = s[:idx] + s[idx+len(p):]
            if can_become_empty(new_s, patterns):
                return True
            idx = s.find(p, idx + 1)

    return False
s = "abccba"
patterns = ["ab", "cc", "ba"]
print(can_become_empty(s, patterns))

True

6: Minimum number of rotations to obtain a string

In [70]:
def min_rotations(s1, s2):
    if len(s1) != len(s2):
        return -1

    double_s1 = s1 + s1
    if s2 not in double_s1:
        return -1
    index = double_s1.find(s2)
    return index
s1 = "abcde"
s2 = "cdeab"
print(min_rotations(s1, s2))

s1 = "abcde"
s2 = "abced"
print(min_rotations(s1, s2))

2
-1

7: Words Frequency in String Shorthands

In [71]:
from collections import Counter

s = "apple banana apple orange banana apple"
freq = Counter(s.split())
print(freq)

Counter({'apple': 3, 'banana': 2, 'orange': 1})

8: Successive Characters Frequency

In [72]:
def successive_frequency(s):
    if not s:
        return []

    result = []
    count = 1

    for i in range(1, len(s)):
        if s[i] == s[i-1]:
            count += 1
        else:
            result.append((s[i-1], count))
            count = 1
    result.append((s[-1], count))
    return result
s = "aaabbcdddde"
print(successive_frequency(s))

[('a', 3), ('b', 2), ('c', 1), ('d', 4), ('e', 1)]

9: Sort String by K frequency

In [73]:
from collections import Counter

def sort_by_k_frequency(s, k=None):
    freq = Counter(s)

    sorted_chars = sorted(freq.items(), key=lambda x: (-x[1], x[0]))

    if k:
        sorted_chars = sorted_chars[:k]
    result = ''.join(char * count for char, count in sorted_chars)
    return result
s = "tree"
print(sort_by_k_frequency(s))
print(sort_by_k_frequency(s, k=2))

eert
eer

10:  Convert Snake case to Pascal case

In [74]:
def snake_to_pascal(snake_str):
    return ''.join(word.capitalize() for word in snake_str.split('_'))
snake_str = "this_is_snake_case"
pascal_str = snake_to_pascal(snake_str)
print(pascal_str)

ThisIsSnakeCase

11: Avoid Last occurrence of delimitter

In [75]:
s = "apple,banana,cherry,date"
parts = s.rsplit(",", 1)
print(parts)

['apple,banana,cherry', 'date']

12: Character position of Kth word

In [76]:
def kth_word_position(s, k):
    words = s.split()
    if k < 1 or k > len(words):
        return -1

    position = 0
    for i in range(k-1):
        position += len(words[i]) + 1
    return position
s = "Python is fun to learn"
k = 3
print(kth_word_position(s, k))

10

13: Right and Left Shift characters

In [77]:
def left_shift(s, n):
    n = n % len(s)
    return s[n:] + s[:n]

def right_shift(s, n):
    n = n % len(s)
    return s[-n:] + s[:-n]

s = "Python"
print(left_shift(s, 2))
print(right_shift(s, 2))

thonPy
onPyth

14: Exceptional Split

In [78]:
import csv
from io import StringIO

s = 'apple, "banana, mango", cherry'
f = StringIO(s)
reader = csv.reader(f, skipinitialspace=True)
result = next(reader)
print(result)

['apple', 'banana, mango', 'cherry']

15: Split String on vowels

In [79]:
import re

s = "hello world"
parts = re.split(r'[aeiouAEIOU]', s)
print(parts)

['h', 'll', ' w', 'rld']

16: Mirror Image of String

In [80]:
s = "abc"
mirror = s + s[::-1]
print(mirror)

abccba

17: Replace multiple words with K

In [81]:
def replace_words(s, words_to_replace, replacement):
    for word in words_to_replace:
        s = s.replace(word, replacement)
    return s
s = "I like apples and bananas"
words_to_replace = ["apples", "bananas"]
replacement = "K"

result = replace_words(s, words_to_replace, replacement)
print(result)

I like K and K

18: Replace Different characters in String at Once

In [82]:
s = "hello world!"
replace_dict = {'h':'H', 'e':'E', '!':'?'}
table = str.maketrans(replace_dict)
result = s.translate(table)
print(result)

HEllo world?

19: Multiple indices Replace

In [83]:
def replace_indices(s, indices, new_char):
    s_list = list(s)
    for i in indices:
        if 0 <= i < len(s_list):
            s_list[i] = new_char
    return ''.join(s_list)
s = "abcdefgh"
indices = [0, 2, 5]
new_char = 'X'

result = replace_indices(s, indices, new_char)
print(result)

XbXdeXgh

20: Remove multiple empty spaces

In [84]:
s = "This   is  a    string with   multiple spaces"
result = ' '.join(s.split())
print(result)

This is a string with multiple spaces

21: Remove punctuation

In [1]:
import string

text = "Hello, world! This is an example."
clean_text = text.translate(str.maketrans('', '', string.punctuation))

print(clean_text)

Hello world This is an example

22: Similar characters Strings comparison

In [2]:
def have_same_chars(str1, str2):
    return sorted(str1) == sorted(str2)

s1 = "listen"
s2 = "silent"

print(have_same_chars(s1, s2))  # True

True

23: Remove K length Duplicates

In [3]:
def remove_consecutive_k_duplicates(s, k):
    i = 0
    result = []
    while i < len(s):
        if i + k <= len(s) and len(set(s[i:i+k])) == 1:
            i += k
        else:
            result.append(s[i])
            i += 1
    return ''.join(result)
s = "aaabbccddd"
k = 2
print(remove_consecutive_k_duplicates(s, k))

ad

24: Remove suffix

In [4]:
text = "filename.txt"
suffix = ".txt"

new_text = text.removesuffix(suffix)
print(new_text)

filename

25: Find all duplicate characters

In [5]:
from collections import Counter

def find_duplicates(s):
    counter = Counter(s)
    duplicates = [char for char, count in counter.items() if count > 1]
    return duplicates
s = "programming"
print(find_duplicates(s))

['r', 'g', 'm']

26: Replace duplicate Occurrence

In [6]:
def replace_duplicates(s, replacement='_'):
    seen = set()
    result = []
    for char in s:
        if char in seen:
            result.append(replacement)
        else:
            seen.add(char)
            result.append(char)
    return ''.join(result)
s = "programming"
print(replace_duplicates(s))

prog_am_in_

27: Convert string to dictionary

In [7]:
import ast

s = "{'name': 'Alice', 'age': 25}"
d = ast.literal_eval(s)

print(d)
print(type(d))

{'name': 'Alice', 'age': 25}
<class 'dict'>

30: Check if two strings are Rotationally Equivalent

In [8]:
def are_rotationally_equivalent(s1, s2):
    if len(s1) != len(s2):
        return False
    return s2 in (s1 + s1)
s1 = "abcd"
s2 = "cdab"
print(are_rotationally_equivalent(s1, s2))

s1 = "abcd"
s2 = "acbd"
print(are_rotationally_equivalent(s1, s2))

True
False

35: Add padding

In [9]:
s = "hello"
padded = s.ljust(10, '*')
print(padded)

hello*****